/*!
 *
 *	SBS Project 
 * 	Initially created by Coty Beasley
 *	Email: cdbeasley@naic.org
 *  Version: 1.01
 *	Random Chinese Proverb: "When the wind of change blows, some build walls, while others build windmills."
 * 
 * -------------------------------------------
 * 
 *  TABLE OF CONTENTS
 *
 * -------------------------------------------
 *
 *	$_VARIABLES
 *      - colors
 *
 *	$_GLOBAL STYLING
 *		- site-wide
 *      - navigation / header
 *  
 *	&_TYPOGRAPHY
 *		- heading hierarchy
 *		- main page styles
 *  
 *	&_JUMBOTRON
 *		- general styles
 *
 */
/*
 * -------------------------------------------
 *	$_VARIABLES
 * -------------------------------------------
 */
/* Colors */
/*
 * -------------------------------------------
 *	$_GLOBAL STYLING
 * -------------------------------------------
 */
/* Site */
body {
  background: #ddd; }

.sheet-global {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #fafafa; }

/* Navigation / Header */
.topBar {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 0.5em solid #c81e28; }

.topBar img {
  height: auto;
  max-height: 3em; }

.topBar .btn {
  color: #007cc2;
  border-color: #007cc2;
  height: 3em; }
  .topBar .btn:hover {
    background-color: #007cc2;
    color: #fafafa;
    cursor: pointer; }

/* Footer */
.footerCap {
  background: #eee;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 6px solid #007cc2; }
  .footerCap .copyright {
    float: left; }
    .footerCap .copyright p {
      margin: 0;
      color: #666;
      font-size: 0.75em; }
      .footerCap .copyright p:first-child {
        margin-bottom: 0.5em; }
  .footerCap .socialLinks {
    float: right;
    text-align: right;
    margin-top: 0.25em; }
    .footerCap .socialLinks img {
      width: 2em;
      height: auto;
      margin-left: 0.25em; }
  .footerCap .globalLinks {
    clear: both;
    border-top: 1px solid #ccc;
    margin-top: 3em !important;
    padding-top: 0.5em; }
    .footerCap .globalLinks a, .footerCap .globalLinks span {
      margin-right: 0.25em; }
    .footerCap .globalLinks a {
      font-size: 0.9em; }

@media (max-width: 500px) {
  .footerCap {
    padding-bottom: 1em; }
    .footerCap .copyright, .footerCap .socialLinks {
      display: block;
      float: none;
      text-align: center;
      margin-top: 1em; }
    .footerCap .socialLinks img {
      margin-left: 0.25em;
      margin-right: 0.25em;
      width: 2.5em;
      height: auto; }
    .footerCap .globalLinks {
      margin-top: 0.5em !important;
      padding-top: 0.5em;
      text-align: center; }
      .footerCap .globalLinks a, .footerCap .globalLinks span {
        margin: 0 0.25em; } }
/*
 * -------------------------------------------
 *	$_JUMBOTRON
 * -------------------------------------------
 */
.jumbotron {
  background: url("../img/hero-dft.jpg") center top no-repeat;
  color: #fff; }
  .jumbotron .btn {
    clear: both;
    color: #007cc2; }

@media (min-width: 0px) {
  .jumbotron {
    text-align: center;
    background: url("../img/hero-xs.jpg") center top no-repeat; } }
@media (min-width: 480px) {
  .jumbotron {
    background: url("../img/hero-sm.jpg") left top no-repeat; } }
@media (min-width: 768px) {
  .jumbotron {
    text-align: left;
    background: url("../img/hero-tb.jpg") left top no-repeat; } }
@media (min-width: 1200px) {
  .jumbotron {
    background: url("../img/hero-dk.jpg") left top no-repeat; } }
/*
 * -------------------------------------------
 *	$_PAGE-SPECIFIC
 * -------------------------------------------
 */
/* Entrance Page */
.page-entrance .section-action {
  margin-bottom: 2em; }
  .page-entrance .section-action h1 {
    font-size: 1.5em;
    color: #007cc2;
    border-bottom: 4px solid #007cc2;
    line-height: 120%;
    padding-bottom: 0.25em; }
  .page-entrance .section-action .quickAccess .btn {
    width: 100%;
    display: block;
    margin-top: 0.5em;
    color: #fafafa;
    background-color: #0a0a0a;
    border: 0; }
    .page-entrance .section-action .quickAccess .btn:first-child {
      margin-top: 0; }
    .page-entrance .section-action .quickAccess .btn:hover {
      background-color: #007cc2; }
.page-entrance .section-news h1 {
  background-color: #007cc2;
  color: #fafafa;
  padding: 0.25em 15px;
  line-height: 100%;
  font-size: 1.5em;
  border: 0;
  margin-top: 2em; }
  .page-entrance .section-news h1 a {
    color: #fafafa;
    font-size: 0.75em; }
    .page-entrance .section-news h1 a:before {
      content: "// "; }
.page-entrance .section-news article {
  border-bottom: 1px dotted #ccc;
  padding: 0.75em 15px 0;
  clear: both; }
  .page-entrance .section-news article:last-child {
    border: 0; }
  .page-entrance .section-news article time {
    color: #007cc2;
    font-style: italic;
    margin-bottom: 0.25em; }
  .page-entrance .section-news article h1 {
    font-size: 1.25em;
    background-color: transparent;
    color: #0a0a0a;
    padding: 0;
    margin: 0; }
  .page-entrance .section-news article p {
    font-size: 1em;
    margin-bottom: 0.75em;
    margin-top: 0.25em; }
  .page-entrance .section-news article a {
    display: inline-block;
    background-color: #0a0a0a;
    color: #fafafa;
    padding: 0.25em 0.5em;
    margin-bottom: 1em; }
    .page-entrance .section-news article a:hover {
      background-color: #007cc2;
      text-decoration: none; }
