/*!
 *
 *	SBS Project 
 * 	Initially created by Coty Beasley
 *	Email: cdbeasley@naic.org
 *  Version: 1.01
 *	Random Chinese Proverb: "When the wind of change blows, some build walls, while others build windmills."
 * 
 * -------------------------------------------
 * 
 *  TABLE OF CONTENTS
 *
 * -------------------------------------------
 *
 *	$_VARIABLES
 *      - colors
 *
 *	$_GLOBAL STYLING
 *		- site-wide
 *      - navigation / header
 *  
 *	&_TYPOGRAPHY
 *		- heading hierarchy
 *		- main page styles
 *  
 *	&_JUMBOTRON
 *		- general styles
 *  
 *	$_HELPERS / PLUGINS
 *		- modals
 *
 */





/*
 * -------------------------------------------
 *	$_VARIABLES
 * -------------------------------------------
 */

/* Colors */
$color-red: rgb(200, 30, 40);
$color-blue: rgb(0, 124, 194);
$color-white: rgb(250, 250, 250);
$color-black: rgb(10, 10, 10);
$color-grey: rgb(155, 155, 155);





/*
 * -------------------------------------------
 *	$_GLOBAL STYLING
 * -------------------------------------------
 */

/* Site */

body { background: #ddd; }
.sheet-global { max-width: 1600px; margin: 0 auto; background-color: $color-white; }


/* Navigation / Header */

.topBar { padding-top: 1em; padding-bottom: 1em; border-top: 0.5em solid $color-red; }
.topBar img { height: auto; max-height: 3em; }
.topBar .btn { 
    color: $color-blue;
    border-color: $color-blue;
    height: 3em;
    &:hover {
        background-color: $color-blue;
        color: $color-white;
        cursor: pointer;
    }
}


/* Footer */

.footerCap {
    background: #eee;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: 6px solid $color-blue;
    
    .copyright {
        float:left;
        p {
            margin: 0;
            color: #666;
            font-size: 0.75em;
            
            &:first-child {
                margin-bottom: 0.5em;
            }
        }
    }

    .socialLinks {
        float:right;
        text-align: right;
        margin-top: 0.25em;
        img {
            width: 2em;
            height: auto;
            margin-left: 0.25em; 
        }
    }

    .globalLinks {
        clear:both;
        border-top: 1px solid #ccc;
        margin-top: 3em !important;
        padding-top: 0.5em;
        a, span {
            margin-right: 0.25em
        }
        a {
            font-size: 0.9em
        }
    }
}

@media (max-width: 500px) {
    .footerCap {
        padding-bottom: 1em;
        
        .copyright, .socialLinks {
            display: block;
            float: none;
            text-align: center;
            margin-top: 1em;
        }
        
        .socialLinks img { 
            margin-left: 0.25em;
            margin-right: 0.25em;
            width: 2.5em;
            height: auto;
        }
        
        .globalLinks {
            margin-top: 0.5em !important;
            padding-top: 0.5em;
            text-align: center;
            a, span {
                margin: 0 0.25em
            }
        }
    }
}





/*
 * -------------------------------------------
 *	$_JUMBOTRON
 * -------------------------------------------
 */

.jumbotron {    
    background: url('../img/hero-dft.jpg') center top no-repeat;
    //background-size: cover;
    color: #fff;
    .btn {
        clear: both;
        color: $color-blue;
    }
}

@media (min-width: 0px) {
    .jumbotron {  
        text-align: center;
        background: url('../img/hero-xs.jpg') center top no-repeat;
    }
}

@media (min-width: 480px) {
    .jumbotron {
        background: url('../img/hero-sm.jpg') left top no-repeat;
    }
}

@media (min-width: 768px) {
    .jumbotron {
        text-align: left;
        background: url('../img/hero-tb.jpg') left top no-repeat;
    }
}

@media (min-width: 1200px) {
    .jumbotron {
        background: url('../img/hero-dk.jpg') left top no-repeat;
    }
}





/*
 * -------------------------------------------
 *	$_PAGE-SPECIFIC
 * -------------------------------------------
 */


/* Entrance Page */

.page-entrance {
    section {
        padding-bottom: 2em;
    }
    .section-action {
        h1 {
            font-size: 1.5em;
            color: $color-blue;
            border-bottom: 4px solid $color-blue;
            line-height: 120%;
            padding-bottom: 0.25em;
        }
        .quickAccess {
            .btn {
                width: 100%;
                display: block;
                margin-top: 0.5em;
                color: $color-white;
                background-color: $color-black;
                border: 0;
                &:first-child {
                    margin-top: 0;
                }
                &:hover { 
                    background-color: $color-blue;
                }
            }
        }
        select {
            margin-bottom: 0.32em;
            }
        .btn{
            width: 100%;
            background-color: $color-grey;
            color: $color-white;
        }
    }
    .section-news {
        h1 {
            background-color: $color-blue;
            color: $color-white;
            padding: 0.25em 15px;
            line-height: 100%;
            font-size: 1.5em;
            border: 0;
            margin-top: 2em;
            a {
                color: $color-white;
                font-size: 0.75em;
                &:before{
                    content: "// ";
                }
            }
        }
        article {
            border-bottom: 1px dotted #ccc;
            padding: 0.75em 15px 0;
            clear: both;
            &:last-child {
                border: 0;
            }
            time {
                color: $color-blue;
                font-style: italic;
                margin-bottom: 0.25em;
            }       
            h1 { 
                font-size: 1.25em;
                background-color: transparent;
                color: $color-black;
                padding: 0;
                margin: 0;
            }
            p {
                font-size: 1em;
                margin-bottom: 0.75em;
                margin-top: 0.25em;
            }
            a {
                display: inline-block;
                background-color: $color-black;
                color: $color-white;
                padding: 0.25em 0.5em;
                margin-bottom: 1em;
                &:hover { 
                    background-color: $color-blue;
                    text-decoration: none;
                }
            }
        }
    }  
}





/*
 * -------------------------------------------
 *	$_HELPERS / PLUGINS
 * -------------------------------------------
 */


/* Modal Styles */

body.modal-open, 
.modal-open .navbar-fixed-top, 
.modal-open .navbar-fixed-bottom {
    margin-right: 0px;
}
body.modal-open {
    overflow: hidden;
}
.modal {
    overflow-y: auto;
    .modal-body {
        span {
            display: block;
        }       
    }
    .dataTitle {
        font-weight: bold;
    }
    p {
        margin-bottom: 1em;
    }
}