/*!
 *
 *	SBS Project 
 * 	Initially created by Coty Beasley
 *	Email: cdbeasley@naic.org
 *  Version: 1.01
 *	Random Chinese Proverb: "When the wind of change blows, some build walls, while others build windmills."
 * 
 * -------------------------------------------
 * 
 *  TABLE OF CONTENTS
 *
 * -------------------------------------------
 *
 *	$_VARIABLES
 *      - colors
 *
 *	$_GLOBAL STYLING
 *		- site-wide
 *      - navigation / header
 *  
 *	&_TYPOGRAPHY
 *		- heading hierarchy
 *		- main page styles
 *  
 *	&_JUMBOTRON
 *		- general styles
 *
 */





/*
 * -------------------------------------------
 *	$_VARIABLES
 * -------------------------------------------
 */

/* Colors */
$color-red: rgb(200, 30, 40);
$color-blue: rgb(0, 124, 194);
$color-white: rgb(250, 250, 250);





/*
 * -------------------------------------------
 *	$_GLOBAL STYLING
 * -------------------------------------------
 */

/* Site */

body { background: #ddd; }
.sheet-global { max-width: 1600px; margin: 0 auto; background-color: $color-white; }


/* Navigation / Header */

.topBar { padding-top: 1em; padding-bottom: 1em; border-top: 0.5em solid $color-red; }
.topBar img { height: auto; max-height: 3em; }
.topBar .btn { 
    color: $color-blue;
    border-color: $color-blue;
    height: 3em;
    &:hover {
        background-color: $color-blue;
        color: $color-white;
        cursor: pointer;
    }
}


/* Footer */

.footerCap {
    background: #eee;
    padding-top: 0.5em;
    padding-bottom: 0.5em;  
    
    .copyright {
        float:left;
        p {
            margin: 0;
            color: #666;
            font-size: 0.75em;
            
            &:first-child {
                margin-bottom: 0.5em;
            }
        }
    }

    .socialLinks {
        float:right;
        text-align: right;
        margin-top: 0.25em;
        img {
            width: 2em;
            height: auto;
            margin-left: 0.25em; 
        }
    }

    .globalLinks {
        clear:both;
        border-top: 1px solid #ccc;
        margin-top: 3em !important;
        padding-top: 0.5em;
        a, span {
            margin-right: 0.25em
        }
        a {
            font-size: 0.9em
        }
    }
}

@media (max-width: 500px) {
    .footerCap {
        padding-bottom: 1em;
        
        .copyright, .socialLinks {
            display: block;
            float: none;
            text-align: center;
            margin-top: 1em;
        }
        
        .socialLinks img { 
            margin-left: 0.25em;
            margin-right: 0.25em;
            width: 2.5em;
            height: auto;
        }
        
        .globalLinks {
            margin-top: 0.5em !important;
            padding-top: 0.5em;
            text-align: center;
            a, span {
                margin: 0 0.25em
            }
        }
    }
}





/*
 * -------------------------------------------
 *	$_JUMBOTRON
 * -------------------------------------------
 */

.jumbotron {    
    background: url('../img/hero-dft.jpg') center top no-repeat;
    //background-size: cover;
    color: #fff;
    .btn {
        clear: both;
        color: $color-blue;
    }
}

@media (min-width: 0px) {
    .jumbotron {  
        text-align: center;
        background: url('../img/hero-xs.jpg') center top no-repeat;
    }
}

@media (min-width: 480px) {
    .jumbotron {
        background: url('../img/hero-sm.jpg') left top no-repeat;
    }
}

@media (min-width: 768px) {
    .jumbotron {
        text-align: left;
        background: url('../img/hero-tb.jpg') left top no-repeat;
    }
}

@media (min-width: 1200px) {
    .jumbotron {
        background: url('../img/hero-dk.jpg') left top no-repeat;
    }
}

